html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.antoine-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.antoine-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.antoine-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.antoine-table,.antoine-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.antoine-table-all{border:1px solid #ccc}
.antoine-bordered tr,.antoine-table-all tr{border-bottom:1px solid #ddd}.antoine-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.antoine-table-all tr:nth-child(odd){background-color:#fff}.antoine-table-all tr:nth-child(even){background-color:#f1f1f1}
.antoine-hoverable tbody tr:hover,.antoine-ul.antoine-hoverable li:hover{background-color:#ccc}.antoine-centered tr th,.antoine-centered tr td{text-align:center}
.antoine-table td,.antoine-table th,.antoine-table-all td,.antoine-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.antoine-table th:first-child,.antoine-table td:first-child,.antoine-table-all th:first-child,.antoine-table-all td:first-child{padding-left:16px}
.antoine-btn,.antoine-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.antoine-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.antoine-btn,.antoine-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.antoine-disabled,.antoine-btn:disabled,.antoine-button:disabled{cursor:not-allowed;opacity:0.3}.antoine-disabled *,:disabled *{pointer-events:none}
.antoine-btn.antoine-disabled:hover,.antoine-btn:disabled:hover{box-shadow:none}
.antoine-badge,.antoine-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.antoine-badge{border-radius:50%}
.antoine-ul{list-style-type:none;padding:0;margin:0}.antoine-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.antoine-ul li:last-child{border-bottom:none}
.antoine-tooltip,.antoine-display-container{position:relative}.antoine-tooltip .antoine-text{display:none}.antoine-tooltip:hover .antoine-text{display:inline-block}
.antoine-ripple:active{opacity:0.5}.antoine-ripple{transition:opacity 0s}
.antoine-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.antoine-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.antoine-dropdown-click,.antoine-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.antoine-dropdown-hover:hover .antoine-dropdown-content{display:block}
.antoine-dropdown-hover:first-child,.antoine-dropdown-click:hover{background-color:#ccc;color:#000}
.antoine-dropdown-hover:hover > .antoine-button:first-child,.antoine-dropdown-click:hover > .antoine-button:first-child{background-color:#ccc;color:#000}
.antoine-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.antoine-check,.antoine-radio{width:24px;height:24px;position:relative;top:6px}
.antoine-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.antoine-bar-block .antoine-dropdown-hover,.antoine-bar-block .antoine-dropdown-click{width:100%}
.antoine-bar-block .antoine-dropdown-hover .antoine-dropdown-content,.antoine-bar-block .antoine-dropdown-click .antoine-dropdown-content{min-width:100%}
.antoine-bar-block .antoine-dropdown-hover .antoine-button,.antoine-bar-block .antoine-dropdown-click .antoine-button{width:100%;text-align:left;padding:8px 16px}
.antoine-main,#main{transition:margin-left .4s}
.antoine-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.antoine-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.antoine-bar{width:100%;overflow:hidden}.antoine-center .antoine-bar{display:inline-block;width:auto}
.antoine-bar .antoine-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.antoine-bar .antoine-dropdown-hover,.antoine-bar .antoine-dropdown-click{position:static;float:left}
.antoine-bar .antoine-button{white-space:normal}
.antoine-bar-block .antoine-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.antoine-bar-block.antoine-center .antoine-bar-item{text-align:center}.antoine-block{display:block;width:100%}
.antoine-responsive{display:block;overflow-x:auto}
.antoine-container:after,.antoine-container:before,.antoine-panel:after,.antoine-panel:before,.antoine-row:after,.antoine-row:before,.antoine-row-padding:after,.antoine-row-padding:before,
.antoine-cell-row:before,.antoine-cell-row:after,.antoine-clear:after,.antoine-clear:before,.antoine-bar:before,.antoine-bar:after{content:"";display:table;clear:both}
.antoine-col,.antoine-half,.antoine-third,.antoine-twothird,.antoine-threequarter,.antoine-quarter{float:left;width:100%}
.antoine-col.s1{width:8.33333%}.antoine-col.s2{width:16.66666%}.antoine-col.s3{width:24.99999%}.antoine-col.s4{width:33.33333%}
.antoine-col.s5{width:41.66666%}.antoine-col.s6{width:49.99999%}.antoine-col.s7{width:58.33333%}.antoine-col.s8{width:66.66666%}
.antoine-col.s9{width:74.99999%}.antoine-col.s10{width:83.33333%}.antoine-col.s11{width:91.66666%}.antoine-col.s12{width:99.99999%}
@media (min-width:601px){.antoine-col.m1{width:8.33333%}.antoine-col.m2{width:16.66666%}.antoine-col.m3,.antoine-quarter{width:24.99999%}.antoine-col.m4,.antoine-third{width:33.33333%}
.antoine-col.m5{width:41.66666%}.antoine-col.m6,.antoine-half{width:49.99999%}.antoine-col.m7{width:58.33333%}.antoine-col.m8,.antoine-twothird{width:66.66666%}
.antoine-col.m9,.antoine-threequarter{width:74.99999%}.antoine-col.m10{width:83.33333%}.antoine-col.m11{width:91.66666%}.antoine-col.m12{width:99.99999%}}
@media (min-width:993px){.antoine-col.l1{width:8.33333%}.antoine-col.l2{width:16.66666%}.antoine-col.l3{width:24.99999%}.antoine-col.l4{width:33.33333%}
.antoine-col.l5{width:41.66666%}.antoine-col.l6{width:49.99999%}.antoine-col.l7{width:58.33333%}.antoine-col.l8{width:66.66666%}
.antoine-col.l9{width:74.99999%}.antoine-col.l10{width:83.33333%}.antoine-col.l11{width:91.66666%}.antoine-col.l12{width:99.99999%}}
.antoine-rest{overflow:hidden}.antoine-stretch{margin-left:-16px;margin-right:-16px}
.antoine-content,.antoine-auto{margin-left:auto;margin-right:auto}.antoine-content{max-width:980px}.antoine-auto{max-width:1140px}
.antoine-cell-row{display:table;width:100%}.antoine-cell{display:table-cell}
.antoine-cell-top{vertical-align:top}.antoine-cell-middle{vertical-align:middle}.antoine-cell-bottom{vertical-align:bottom}
.antoine-hide{display:none!important}.antoine-show-block,.antoine-show{display:block!important}.antoine-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.antoine-auto{max-width:95%}}
@media (max-width:600px){.antoine-modal-content{margin:0 10px;width:auto!important}.antoine-modal{padding-top:30px}
.antoine-dropdown-hover.antoine-mobile .antoine-dropdown-content,.antoine-dropdown-click.antoine-mobile .antoine-dropdown-content{position:relative}	
.antoine-hide-small{display:none!important}.antoine-mobile{display:block;width:100%!important}.antoine-bar-item.antoine-mobile,.antoine-dropdown-hover.antoine-mobile,.antoine-dropdown-click.antoine-mobile{text-align:center}
.antoine-dropdown-hover.antoine-mobile,.antoine-dropdown-hover.antoine-mobile .antoine-btn,.antoine-dropdown-hover.antoine-mobile .antoine-button,.antoine-dropdown-click.antoine-mobile,.antoine-dropdown-click.antoine-mobile .antoine-btn,.antoine-dropdown-click.antoine-mobile .antoine-button{width:100%}}
@media (max-width:768px){.antoine-modal-content{width:500px}.antoine-modal{padding-top:50px}}
@media (min-width:993px){.antoine-modal-content{width:900px}.antoine-hide-large{display:none!important}.antoine-sidebar.antoine-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.antoine-hide-medium{display:none!important}}
@media (max-width:992px){.antoine-sidebar.antoine-collapse{display:none}.antoine-main{margin-left:0!important;margin-right:0!important}.antoine-auto{max-width:100%}}
.antoine-top,.antoine-bottom{position:fixed;width:100%;z-index:1}.antoine-top{top:0}.antoine-bottom{bottom:0}
.antoine-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.antoine-display-topleft{position:absolute;left:0;top:0}.antoine-display-topright{position:absolute;right:0;top:0}
.antoine-display-bottomleft{position:absolute;left:0;bottom:0}.antoine-display-bottomright{position:absolute;right:0;bottom:0}
.antoine-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.antoine-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.antoine-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.antoine-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.antoine-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.antoine-display-container:hover .antoine-display-hover{display:block}.antoine-display-container:hover span.antoine-display-hover{display:inline-block}.antoine-display-hover{display:none}
.antoine-display-position{position:absolute}
.antoine-circle{border-radius:50%}
.antoine-round-small{border-radius:2px}.antoine-round,.antoine-round-medium{border-radius:4px}.antoine-round-large{border-radius:8px}.antoine-round-xlarge{border-radius:16px}.antoine-round-xxlarge{border-radius:32px}
.antoine-row-padding,.antoine-row-padding>.antoine-half,.antoine-row-padding>.antoine-third,.antoine-row-padding>.antoine-twothird,.antoine-row-padding>.antoine-threequarter,.antoine-row-padding>.antoine-quarter,.antoine-row-padding>.antoine-col{padding:0 8px}
.antoine-container,.antoine-panel{padding:0.01em 16px}.antoine-panel{margin-top:16px;margin-bottom:16px}
.antoine-code,.antoine-codespan{font-family:Consolas,"courier new";font-size:16px}
.antoine-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.antoine-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.antoine-card,.antoine-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.antoine-card-4,.antoine-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.antoine-spin{animation:antoine-spin 2s infinite linear}@keyframes antoine-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.antoine-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.antoine-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.antoine-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.antoine-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.antoine-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.antoine-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.antoine-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.antoine-animate-input{transition:width 0.4s ease-in-out}.antoine-animate-input:focus{width:100%!important}
.antoine-opacity,.antoine-hover-opacity:hover{opacity:0.60}.antoine-opacity-off,.antoine-hover-opacity-off:hover{opacity:1}
.antoine-opacity-max{opacity:0.25}.antoine-opacity-min{opacity:0.75}
.antoine-greyscale-max,.antoine-grayscale-max,.antoine-hover-greyscale:hover,.antoine-hover-grayscale:hover{filter:grayscale(100%)}
.antoine-greyscale,.antoine-grayscale{filter:grayscale(75%)}.antoine-greyscale-min,.antoine-grayscale-min{filter:grayscale(50%)}
.antoine-sepia{filter:sepia(75%)}.antoine-sepia-max,.antoine-hover-sepia:hover{filter:sepia(100%)}.antoine-sepia-min{filter:sepia(50%)}
.antoine-tiny{font-size:10px!important}.antoine-small{font-size:12px!important}.antoine-medium{font-size:15px!important}.antoine-large{font-size:18px!important}
.antoine-xlarge{font-size:24px!important}.antoine-xxlarge{font-size:36px!important}.antoine-xxxlarge{font-size:48px!important}.antoine-jumbo{font-size:64px!important}
.antoine-left-align{text-align:left!important}.antoine-right-align{text-align:right!important}.antoine-justify{text-align:justify!important}.antoine-center{text-align:center!important}
.antoine-border-0{border:0!important}.antoine-border{border:1px solid #ccc!important}
.antoine-border-top{border-top:1px solid #ccc!important}.antoine-border-bottom{border-bottom:1px solid #ccc!important}
.antoine-border-left{border-left:1px solid #ccc!important}.antoine-border-right{border-right:1px solid #ccc!important}
.antoine-topbar{border-top:6px solid #ccc!important}.antoine-bottombar{border-bottom:6px solid #ccc!important}
.antoine-leftbar{border-left:6px solid #ccc!important}.antoine-rightbar{border-right:6px solid #ccc!important}
.antoine-section,.antoine-code{margin-top:16px!important;margin-bottom:16px!important}
.antoine-margin{margin:16px!important}.antoine-margin-top{margin-top:16px!important}.antoine-margin-bottom{margin-bottom:16px!important}
.antoine-margin-left{margin-left:16px!important}.antoine-margin-right{margin-right:16px!important}
.antoine-padding-small{padding:4px 8px!important}.antoine-padding{padding:8px 16px!important}.antoine-padding-large{padding:12px 24px!important}
.antoine-padding-16{padding-top:16px!important;padding-bottom:16px!important}.antoine-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.antoine-padding-32{padding-top:32px!important;padding-bottom:32px!important}.antoine-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.antoine-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.antoine-left{float:left!important}.antoine-right{float:right!important}
.antoine-button:hover{color:#000!important;background-color:#ccc!important}
.antoine-transparent,.antoine-hover-none:hover{background-color:transparent!important}
.antoine-hover-none:hover{box-shadow:none!important}
/* Colors */
.antoine-amber,.antoine-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.antoine-aqua,.antoine-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.antoine-blue,.antoine-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.antoine-light-blue,.antoine-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.antoine-brown,.antoine-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.antoine-cyan,.antoine-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.antoine-blue-grey,.antoine-hover-blue-grey:hover,.antoine-blue-gray,.antoine-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.antoine-green,.antoine-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.antoine-light-green,.antoine-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.antoine-indigo,.antoine-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.antoine-khaki,.antoine-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.antoine-lime,.antoine-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.antoine-orange,.antoine-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.antoine-deep-orange,.antoine-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.antoine-pink,.antoine-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.antoine-purple,.antoine-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.antoine-deep-purple,.antoine-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.antoine-red,.antoine-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.antoine-sand,.antoine-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.antoine-teal,.antoine-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.antoine-yellow,.antoine-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.antoine-white,.antoine-hover-white:hover{color:#000!important;background-color:#fff!important}
.antoine-black,.antoine-hover-black:hover{color:#fff!important;background-color:#000!important}
.antoine-grey,.antoine-hover-grey:hover,.antoine-gray,.antoine-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.antoine-light-grey,.antoine-hover-light-grey:hover,.antoine-light-gray,.antoine-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.antoine-dark-grey,.antoine-hover-dark-grey:hover,.antoine-dark-gray,.antoine-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.antoine-pale-red,.antoine-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.antoine-pale-green,.antoine-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.antoine-pale-yellow,.antoine-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.antoine-pale-blue,.antoine-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.antoine-text-amber,.antoine-hover-text-amber:hover{color:#ffc107!important}
.antoine-text-aqua,.antoine-hover-text-aqua:hover{color:#00ffff!important}
.antoine-text-blue,.antoine-hover-text-blue:hover{color:#2196F3!important}
.antoine-text-light-blue,.antoine-hover-text-light-blue:hover{color:#87CEEB!important}
.antoine-text-brown,.antoine-hover-text-brown:hover{color:#795548!important}
.antoine-text-cyan,.antoine-hover-text-cyan:hover{color:#00bcd4!important}
.antoine-text-blue-grey,.antoine-hover-text-blue-grey:hover,.antoine-text-blue-gray,.antoine-hover-text-blue-gray:hover{color:#607d8b!important}
.antoine-text-green,.antoine-hover-text-green:hover{color:#4CAF50!important}
.antoine-text-light-green,.antoine-hover-text-light-green:hover{color:#8bc34a!important}
.antoine-text-indigo,.antoine-hover-text-indigo:hover{color:#3f51b5!important}
.antoine-text-khaki,.antoine-hover-text-khaki:hover{color:#b4aa50!important}
.antoine-text-lime,.antoine-hover-text-lime:hover{color:#cddc39!important}
.antoine-text-orange,.antoine-hover-text-orange:hover{color:#ff9800!important}
.antoine-text-deep-orange,.antoine-hover-text-deep-orange:hover{color:#ff5722!important}
.antoine-text-pink,.antoine-hover-text-pink:hover{color:#e91e63!important}
.antoine-text-purple,.antoine-hover-text-purple:hover{color:#9c27b0!important}
.antoine-text-deep-purple,.antoine-hover-text-deep-purple:hover{color:#673ab7!important}
.antoine-text-red,.antoine-hover-text-red:hover{color:#f44336!important}
.antoine-text-sand,.antoine-hover-text-sand:hover{color:#fdf5e6!important}
.antoine-text-teal,.antoine-hover-text-teal:hover{color:#009688!important}
.antoine-text-yellow,.antoine-hover-text-yellow:hover{color:#d2be0e!important}
.antoine-text-white,.antoine-hover-text-white:hover{color:#fff!important}
.antoine-text-black,.antoine-hover-text-black:hover{color:#000!important}
.antoine-text-grey,.antoine-hover-text-grey:hover,.antoine-text-gray,.antoine-hover-text-gray:hover{color:#757575!important}
.antoine-text-light-grey,.antoine-hover-text-light-grey:hover,.antoine-text-light-gray,.antoine-hover-text-light-gray:hover{color:#f1f1f1!important}
.antoine-text-dark-grey,.antoine-hover-text-dark-grey:hover,.antoine-text-dark-gray,.antoine-hover-text-dark-gray:hover{color:#3a3a3a!important}
.antoine-border-amber,.antoine-hover-border-amber:hover{border-color:#ffc107!important}
.antoine-border-aqua,.antoine-hover-border-aqua:hover{border-color:#00ffff!important}
.antoine-border-blue,.antoine-hover-border-blue:hover{border-color:#2196F3!important}
.antoine-border-light-blue,.antoine-hover-border-light-blue:hover{border-color:#87CEEB!important}
.antoine-border-brown,.antoine-hover-border-brown:hover{border-color:#795548!important}
.antoine-border-cyan,.antoine-hover-border-cyan:hover{border-color:#00bcd4!important}
.antoine-border-blue-grey,.antoine-hover-border-blue-grey:hover,.antoine-border-blue-gray,.antoine-hover-border-blue-gray:hover{border-color:#607d8b!important}
.antoine-border-green,.antoine-hover-border-green:hover{border-color:#4CAF50!important}
.antoine-border-light-green,.antoine-hover-border-light-green:hover{border-color:#8bc34a!important}
.antoine-border-indigo,.antoine-hover-border-indigo:hover{border-color:#3f51b5!important}
.antoine-border-khaki,.antoine-hover-border-khaki:hover{border-color:#f0e68c!important}
.antoine-border-lime,.antoine-hover-border-lime:hover{border-color:#cddc39!important}
.antoine-border-orange,.antoine-hover-border-orange:hover{border-color:#ff9800!important}
.antoine-border-deep-orange,.antoine-hover-border-deep-orange:hover{border-color:#ff5722!important}
.antoine-border-pink,.antoine-hover-border-pink:hover{border-color:#e91e63!important}
.antoine-border-purple,.antoine-hover-border-purple:hover{border-color:#9c27b0!important}
.antoine-border-deep-purple,.antoine-hover-border-deep-purple:hover{border-color:#673ab7!important}
.antoine-border-red,.antoine-hover-border-red:hover{border-color:#f44336!important}
.antoine-border-sand,.antoine-hover-border-sand:hover{border-color:#fdf5e6!important}
.antoine-border-teal,.antoine-hover-border-teal:hover{border-color:#009688!important}
.antoine-border-yellow,.antoine-hover-border-yellow:hover{border-color:#ffeb3b!important}
.antoine-border-white,.antoine-hover-border-white:hover{border-color:#fff!important}
.antoine-border-black,.antoine-hover-border-black:hover{border-color:#000!important}
.antoine-border-grey,.antoine-hover-border-grey:hover,.antoine-border-gray,.antoine-hover-border-gray:hover{border-color:#9e9e9e!important}
.antoine-border-light-grey,.antoine-hover-border-light-grey:hover,.antoine-border-light-gray,.antoine-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.antoine-border-dark-grey,.antoine-hover-border-dark-grey:hover,.antoine-border-dark-gray,.antoine-hover-border-dark-gray:hover{border-color:#616161!important}
.antoine-border-pale-red,.antoine-hover-border-pale-red:hover{border-color:#ffe7e7!important}.antoine-border-pale-green,.antoine-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.antoine-border-pale-yellow,.antoine-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.antoine-border-pale-blue,.antoine-hover-border-pale-blue:hover{border-color:#e7ffff!important}
